<!DOCTYPE html>
<html>
<head>
  <title>MyProjec2</title>
  
          
          <%= stylesheet_link_tag    'application', media: 'all' %>
          <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
        
          <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-inverse">
    <div class="container">
      <%=link_to "myRecipes", "", class: "btn btn-lg btn-success", id: "logo" %>
      <div class="nav-item">
      <%= link_to  "link 1", "", class: "btn btn-default btn-warning" %>
      </div>
       <div class="nav-item">
       <%= link_to  "link 1", "", class: "btn btn-default btn-warning" %>
      </div>
        <div class="nav-item">
       <%= link_to  "link 1", "", class: "btn btn-default btn-warning" %>
      </div>
    </div>
</header>

<div class="container">
    <%= yield %>
    <div class="footer">
      <p>&copy; MyRecipes 2016</p>
    </div>
</div>
</body>
</html>
